@import url(./suggestions.css);

/* Resets */
.ast-program {
    background-color: #f3eeec;
    border-radius: 0.25rem;
    padding: 1rem;
    margin-bottom: 1rem;
    font-family: monospace;
    font-size: 2rem;
    line-height: 1;

    --color-highlight: #111;
    --color-replace: hsl(240, 51%, 38%);

    --color-var-name: hsl(0, 0%, 0%);
    --color-var-name--clickable: hsl(240, 55%, 45%);
    --color-add-statement--clickable-last: hsl(240, 55%, 45%);

    --color-primitive: #5c0080;
    --color-primitive-highlight: #9845b9;

    --bg-color-form--depth-1: hsl(23, 12%, 87%);
    --bg-color-form--depth-2: hsl(23, 12%, 76%);
    --bg-color-form--depth-3: hsl(23, 12%, 66%);
    --bg-color-form--depth-4: hsl(23, 12%, 60%);
    --bg-color-form--depth-5: hsl(23, 12%, 54%);
    --bg-color-form--depth-6: hsl(23, 12%, 49%);
    --bg-color-cell: hsl(240, 49%, 88%);  /* Boxes to fill in */

    --inline-transition: all 80ms ease;
    --vertical-transition: all 300ms ease;

    --form-child-padding: 0.4rem;
    --form-child-vertical-padding: 0.15rem;
}

/* atomic */

.ast-button {
    text-align: inherit;
    font-size: 1em;
    color: inherit;
    background: transparent;
    border: 0 none;
    padding: 0;
    vertical-align: middle;
}

.ast-input {
    text-align: inherit;
    font-size: 1em;
    color: inherit;
    background: transparent;
    border: 0 none;
    padding: 0;
    vertical-align: middle;
    box-sizing: content-box;
}

.ast-color-valid-replacement {
    color: var(--color-replace);
}

.ast-color-invalid-replacement {
    color: red;
}

.ast-form > .margin-y-form-child {
    margin-top: var(--form-child-vertical-padding);
    margin-bottom: var(--form-child-vertical-padding);
}

.color-var-name {
    color: var(--color-var-name);
}

.color-primitive {
    color: var(--color-primitive);
}

.padding-x {
    padding-left: var(--form-child-padding);
    padding-right: var(--form-child-padding);
}

.padding-x-2 {
    padding-left: calc(var(--form-child-padding) * 2);
    padding-right: calc(var(--form-child-padding) * 2);
}

.padding-y {
    padding-top: var(--form-child-padding);
    padding-bottom: var(--form-child-padding);
}

.color-inline-result { color: blue; }

.cursor-pointer { cursor: pointer; }

.min-width-1ch { min-width: 1ch; }

.outline-replace {
    outline: 4px solid var(--color-replace);
    border-radius: 0.25rem;
}

.layout-horizontal {
    display: inline-flex;
    align-items: stretch;
}

.layout-horizontal > :not(.layout-horizontal) {
    padding-left: var(--form-child-padding);
    padding-right: var(--form-child-padding);
}

.layout-vertical {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.layout-vertical > * + * {
    margin-top: 0;
}

/* Reveal the background color behind two of these, also if it's the last one */
.reveal-bg-behind + .reveal-bg-behind {
    margin-left: var(--form-child-padding);
}

.reveal-bg-behind:last-child {
    margin-right: var(--form-child-padding);
}

/* add button */

.ast-add-statement-input {
    width: 10em;
    display: flex;
    position: relative;
    padding: 0.4em;
    transition: var(--vertical-transition);
}

.ast-add-statement-input--clickable > span {
    position: absolute;
    inset: 0.4em;
    cursor: row-resize;
    background-color: transparent;
    transition: var(--vertical-transition);
}

.ast-add-statement-input--clickable:hover > span {
    inset: 0.3em;
    background-color: var(--color-replace);
}

.ast-add-statement-input--clickable-last {
    background-color: transparent;
    transition: var(--vertical-transition);
    cursor: pointer;
}

.ast-add-statement-input--clickable-last:hover{
    color: var(--color-add-statement--clickable-last);
}

.ast-add-statement-input--adding {
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    overflow: hidden;
}

.ast-add-statement-input--adding span {
    position: absolute;
    color: var(--color-replace);
}

/* nothing (yet) */

.ast-incomplete {
    background: var(--bg-color-cell);
}

/* variable names */

.ast-var-name {
    font-size: 1.2em;
}

.ast-var-name--clickable {
    color: var(--color-var-name--clickable);
    text-decoration: underline;
    cursor: pointer;
}

/* numbers */

.ast-number {
    color: var(--color-primitive);
}

.ast-number.ast-replaceable--being-replaced {
    color: var(--color-primitive-highlight);
}

/* forms */

.ast-form {
    width: max-content;
    background-color: var(--bg-color-form--depth-1);
    border-radius: 5px;
}

.ast-form--depth-2 {
    background-color: var(--bg-color-form--depth-2);
}

.ast-form--depth-3 {
    background-color: var(--bg-color-form--depth-3);
}

.ast-form--depth-4 {
    background-color: var(--bg-color-form--depth-4);
}

.ast-form--depth-5 {
    background-color: var(--bg-color-form--depth-5);
}

.ast-form--depth-6 {
    background-color: var(--bg-color-form--depth-6);
}

.ast-form > * {
    padding-top: var(--form-child-vertical-padding);
    padding-bottom: var(--form-child-vertical-padding);
}

.ast-form > .ast-form {
    /* Make sure forms nest properly. They should be visibly contained. */
    padding-top: 0;
    padding-bottom: 0;
    margin-top: var(--form-child-vertical-padding);
    margin-bottom: var(--form-child-vertical-padding);
}

.ast-form > .ast-form__head {
    padding-right: 0.1em;
}

.ast-form > .ast-form__endparen {
    padding-right: 0.1em;
}
